body {
    color: #ffffff;
}

.block {
    background: #0f6674;
    min-height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

hr {
    border-top: 3px solid rgba(0, 0, 0, 0.3);
}

.content {
    background: #86cfda;
    min-height: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.height-50 {
    min-height: 50px;
}

@media (max-width: 768px) {
    .order-md-first {
        margin-top: 15px;
    }
}
